<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Iniciar</servlet-name>
		<servlet-class>web.Iniciar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Iniciar</servlet-name>
		<url-pattern>/Iniciar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Cerrar</servlet-name>
		<servlet-class>web.Cerrar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cerrar</servlet-name>
		<url-pattern>/Cerrar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Calculadora</servlet-name>
		<servlet-class>web.CalculadoraServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Calculadora</servlet-name>
		<url-pattern>/calculadora</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>calculadora.jsp</welcome-file>
	</welcome-file-list>
</web-app>
